/* CSS declarations go here */
body
{

  font-family: 'Roboto', sans-serif;
  background-image: url("/imgs/bgTile.jpg");
  background-repeat:repeat;
  margin: 0px 0px 0px 0px;
}

.avatar{
  max-width:40px;
  max-height:40px;
}

.commentFlexUser-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.commentFlexOther-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    }

.commentFlex-item:nth-child(1) {
    padding: 0px 8px;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    font-size: 8pt;
    }

.commentFlex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 70%;
    -ms-flex: 0 1 70%;
    flex: 0 1 70%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding: 12px;
    background: #B2FF59;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    }

.commentFlexUser-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 0px 8px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    font-size: 8pt;
    }

.commentFlexUser-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 70%;
    -ms-flex: 0 1 70%;
    flex: 0 1 70%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding: 12px;
    background: #A7FFEB;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    }



.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.smallControls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 150px;
}

#containerz {
  width: 300px;
  height: 300px;
  position: relative;
}
#navi,
#infoi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#navi {
  z-index: 10;
}

.carrotImg{
  height: 25px;
  width: 25px;
}

.cattotContain{
  position: absolute;
  width:100%;
  height:100%;
}
.bigBoy{
  height: 100%;
  width: 100%;
}

.phone{
  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
  height: 737px;
  width: 654px;
  background-image: url("/imgs/phone.png"); 
}

.container {
  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
  height: 532px;
  width: 345px;
  border:1px solid #000000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.inputStyle {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.imgUpl {
  max-width: 40%;
}

#login-buttons {
  display: block;
}

.map-container {
  width: 100%;
  height: 800px;
  max-height: 100%
}

.smallMap {
  width: 300px;
  height: 170px;
}

.gm-style-iw + div {display: none;}

.contentContain{
  position: relative;
  width:100%;
  height: 350px;
  background-image: url("/imgs/bgTrans.png");
  background-repeat:repeat;
  margin: 0px 0px 0px 0px;
}

.vertAlign{
  text-align: center;
}

.loginTran{
  text-align: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: url("/imgs/bgTileTrans.jpg");
  background-repeat:repeat;
  margin: 0px 0px 0px 0px;
}

.headContain {
  height: 60px;
  width: 100%;
  text-align: center;
}

.toolContain {
  height: 50px;
  width: 100%;
  text-align: center;
}

.tabsContain {
  height: 72px;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-foodItem input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-foodItem input:focus{
  outline: 0;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-foodItem input {
    padding-bottom: 5px;
  }
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.imgPreview {
  max-width: 300px;
}

.itemSmlPic {
  width: 100px;
}

.profilePic{
  width: 75px;
  vertical-align: bottom;
}

.itemListView {
  margin:0px;padding:0px;
  width:100%;
  border:1px solid #ffffff;
  
  -moz-border-radius-bottomleft:20px;
  -webkit-border-bottom-left-radius:20px;
  border-bottom-left-radius:20px;
  
  -moz-border-radius-bottomright:20px;
  -webkit-border-bottom-right-radius:20px;
  border-bottom-right-radius:20px;
  
  -moz-border-radius-topright:20px;
  -webkit-border-top-right-radius:20px;
  border-top-right-radius:20px;
  
  -moz-border-radius-topleft:20px;
  -webkit-border-top-left-radius:20px;
  border-top-left-radius:20px;
}.itemListView table{
    border-collapse: collapse;
        border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;padding:0px;
}.itemListView tr:last-child td:last-child {
  -moz-border-radius-bottomright:20px;
  -webkit-border-bottom-right-radius:20px;
  border-bottom-right-radius:20px;
}
.itemListView table tr:first-child td:first-child {
  -moz-border-radius-topleft:20px;
  -webkit-border-top-left-radius:20px;
  border-top-left-radius:20px;
}
.itemListView table tr:first-child td:last-child {
  -moz-border-radius-topright:20px;
  -webkit-border-top-right-radius:20px;
  border-top-right-radius:20px;
}.itemListView tr:last-child td:first-child{
  -moz-border-radius-bottomleft:20px;
  -webkit-border-bottom-left-radius:20px;
  border-bottom-left-radius:20px;
}.itemListView tr:hover td{
  
}
.itemListView tr:nth-child(odd){ background-color:#aad4ff; }
.itemListView tr:nth-child(even)    { background-color:#aaffaa; }.itemListView td{
  vertical-align:middle;
  
  
  border:1px solid #ffffff;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:6px;

}.itemListView tr:last-child td{
  border-width:0px 1px 0px 0px;
}.itemListView tr td:last-child{
  border-width:0px 0px 1px 0px;
}.itemListView tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.itemListView tr:first-child td{
    background:-o-linear-gradient(bottom, #f7f9fc 5%, #f7f9fc 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f9fc), color-stop(1, #f7f9fc) );
  background:-moz-linear-gradient( center top, #f7f9fc 5%, #f7f9fc 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f9fc", endColorstr="#f7f9fc");  background: -o-linear-gradient(top,#f7f9fc,f7f9fc);

  background-color:#f7f9fc;
  border:0px solid #ffffff;
  text-align:center;
  border-width:0px 0px 1px 1px;
}
.itemListView tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #f7f9fc 5%, #f7f9fc 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7f9fc), color-stop(1, #f7f9fc) );
  background:-moz-linear-gradient( center top, #f7f9fc 5%, #f7f9fc 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f9fc", endColorstr="#f7f9fc");  background: -o-linear-gradient(top,#f7f9fc,f7f9fc);

  background-color:#f7f9fc;
}
.itemListView tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.itemListView tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}